.mariage{
    background:url('../../../public/internalimg/bg/bg-4.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 91vh;
}

.header-middle-bg{
    position: relative;
    top: 35vh;
}