.bg-dark-primary{
    background-color: $color-primary !important;
}

.bg-dark-secondary{
    background-color: $color-secondary !important;
}

.color-dark-primary{
    color: $color-primary !important;
}

.color-dark-secondary{
    color: $color-secondary !important;
}