.bg-dark-primary{
    background-color: $color-primary;
}

.bg-dark-secondary{
    background-color: $color-secondary;
}

.color-dark-primary{
    color: $color-primary;
}

.color-dark-secondary{
    color: $color-secondary
}