.product{
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px;
    color: #000;

    em{
        font-weight: bold;
    }

    .product_details{
        margin-top: 22px;
        color: #000;
    }

}